
//===============================================================================
// VARIABLES
//===============================================================================

$ink: #03000C;
$blue1: #5745FF;
$blue2: #59FFF2;
$white: #ffffff;



$grey: #CACCD9;
$lgrey: #E2E2E2;
$vlgrey: #F2F2F2;



$vshort: 0.15s;
$short: 0.3s;
$mid: 0.6s;
$long: 0.9s;
$vLong: 1.5s;





